{{ $email := promptStringOnce . "email" "What is your email address?" -}}
{{ $isServer := promptBoolOnce . "isServer" "Is this a server?" -}}

data:
    email: {{ $email | quote }}
    isServer: {{ $isServer }}

edit:
  command: "code"
  args:
    - "--wait"

diff:
  exclude:
    - "scripts"

encryption: "age"
age:
  identity: "{{ .chezmoi.homeDir }}/.config/key.txt"
  recipient: "age1hevf64dk53epfvc63agcnz80a4d6dm3gxuptpgtmvnman62js4cqdx7f8s"