{{ $email := promptStringOnce . "email" "What is your email address?" -}}
{{ $isServer := promptBoolOnce . "isServer" "Is this a server?" -}}

data:
    email: {{ $email | quote }}
    isServer: {{ $isServer }}

edit:
  command: "code"
  args:
    - "--wait"

diff:
  exclude:
    - "scripts"
