[user]
	name = Anders Fogh Eriksen
	email = {{ .email | quote }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICtKK3azOc78X+Oruk8ERha2n9BUEO0Bzj0YDuLfsjx7

[alias]
	contributors = shortlog --summary --numbered
  	zip = archive --format zip --output latest.zip HEAD
	tags = tag -l
	amend = commit --amend
	count = rev-list HEAD --count
	branches = branch -a
	remotes = remote -v

[push]
	followTags = true
	autoSetupRemote = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[fetch]
	prune = true
	pruneTags = true
	all = true

[color]
	branch = auto
	diff = auto
	status = auto
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[help]
	autocorrect = prompt
[difftool]
	prompt = false
[mergetool]
	prompt = false
[credential]
{{ if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{ else if eq .chezmoi.os "windows" }}
	helper = wincred
{{ end }}
[core]
	excludesfile = /Users/Fogh/.gitignore_global
	editor = code -n --wait
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[commit]
	gpgsign = true
[gpg]
	format = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "windows" }}
	program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{- else if eq .chezmoi.os "linux" }}
  program = {{ .chezmoi.homeDir }}/.local/bin/op-ssh-sign
{{- end }}
[init]
	defaultBranch = main
{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}
[tag]
	sort = version:refname
