{{- $ghPath := lookPath "gh" }}

[user]
	name = Anders Fogh Eriksen
	email = {{ .email | quote }}
{{ if not .isServer -}}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICtKK3azOc78X+Oruk8ERha2n9BUEO0Bzj0YDuLfsjx7
{{ end -}}

[alias]
	contributors = shortlog --summary --numbered
	zip = archive --format zip --output latest.zip HEAD
	tags = tag -l
	amend = commit --amend
	count = rev-list HEAD --count
	branches = branch -a
	remotes = remote -v
	s = status -sb
	l = log --oneline --graph --decorate

[push]
	followTags = true
	autoSetupRemote = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[pull]
	rebase = true
	ff = only

[fetch]
	prune = true
	pruneTags = true
	all = true

[color]
	branch = auto
	diff = auto
	status = auto
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[help]
	autocorrect = prompt
[difftool]
	prompt = false
[mergetool]
	prompt = false
[credential]
{{ if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{ else if eq .chezmoi.os "windows" }}
	helper = manager
{{ end }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
	editor = code -n --wait
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[commit]
	gpgsign = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[status]
	submoduleSummary = 1
[gpg]
	format = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else if eq .chezmoi.os "windows" }}
	program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{- else if (and (eq .chezmoi.os "linux") (not .isServer)) -}}
  	program = {{ .chezmoi.homeDir }}/.local/bin/op-ssh-sign
{{- end }}
[init]
	defaultBranch = main

{{- if eq .chezmoi.os "windows" }}
[credential "https://github.com"]
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
{{- else if $ghPath }}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}
[tag]
	sort = version:refname

[rerere]
	enabled = true
	autoupdate = true

[pager]
	diff = diffnav
