{{- if ne .chezmoi.os "windows" }}
#!/bin/sh

{{- $home := .chezmoi.homeDir -}}
{{- $source := .chezmoi.sourceDir -}}

if [ ! -f "{{$home}}/.config/chezmoi/key.txt" ]; then
    mkdir -p "{{$home}}/.config/chezmoi"
    chezmoi age decrypt --output "{{$home}}/.config/chezmoi/key.txt" --passphrase "{{$source}}/key.txt.age"
    chmod 600 "{{$home}}/.config/chezmoi/key.txt"
fi
{{- end }}
