[projects."{{ .chezmoi.homeDir }}/ABR"]
trust_level = "trusted"

[tools]
web_search_request = true

[tui]
notifications = true

{{ if eq .chezmoi.os "darwin" }}

notify = ["bash", "-lc", "afplay /System/Library/Sounds/Ping.aiff"]

[mcp_servers.XcodeBuildMCP]
command = "npx"
args = ["-y", "xcodebuildmcp@latest"]
env = { "INCREMENTAL_BUILDS_ENABLED" = "true", "XCODEBUILDMCP_SENTRY_DISABLED" = "true" }
startup_timeout_sec = 20
{{ end }}

[mcp_servers.context7]
args = ["-y", "@upstash/context7-mcp"]
command = "npx"